@charset "utf-8";
/*------------------------------------------------------------
	lotterylist
------------------------------------------------------------*/
#main .comBox {
	max-width: 123rem;
}
#main .topBox {
	margin: 1.7rem auto 3.5rem;
}
#main .topBox a {
	margin: 0 auto;
	width: 34.3rem;
	display: block;
	filter:
		drop-shadow(0px 0.2rem 0.4rem rgba(0, 0, 0, 0.24))
}
#main .comOrderList {
	margin-bottom: 1.5rem;
}
#main .comOrderList .time {
	margin-bottom: 1.7rem;
}
#main .comOrderList .txtBox01 p {
	padding: 0.3rem 1rem;
	font-size: 1.6rem;
	text-align: center;
	border: 1px solid #0796FF;
}
#main .comOrderList .txtBox01 .applyTxt {
	color: #0796FF;
}
#main .comOrderList .txtBox01 .endTxt {
	color: rgba(0, 0, 0, 0.5);
	border-color:  rgba(0, 0, 0, 0.5);
}
#main .comOrderList .txtBox01 .checkedTxt {
	color: #D62B1F;
	border-color:  rgba(214, 43, 31, 0.5);
}
#main .comOrderList li {
	padding-bottom: 1.7rem;
}
#main .comOrderList .txtBox .rBox .ttl {
	margin-bottom: 0.4rem;
	font-weight: 500;
}
#main .comOrderList .txtBox .rBox .text {
	font-size: 1.2rem;
	color: rgba(0, 0, 0, 0.5);
}
#main .comOrderList .txtBox .noteTxt {
	margin: 1.5rem 0;
	text-align: center;
	font-size: 1.4rem;
	color: #191919;
}
@media all and (min-width: 520px) {
	#main .topBox a {
		margin: 0 auto 0 0;
	}

	#main .topBox a:hover {
		transform: translateY(-1rem);
	}
}
@media all and (max-width: 519px) {
	#main .comBox {
		max-width: inherit;
	}
	#main .topBox {
		margin: 1rem auto 2.4rem;
	}
	#main .topBox a {
		width: 96%;
		border-radius: 0;
	}
	#main .comOrderList .subBox {
		margin-bottom: 1.7rem;
	}
	#main .comOrderList .imgArea {
		margin-bottom: 0.7rem;
	}
	#main .comOrderList .comBtn {
		margin-top: 1.6rem;
	}
	#main .comOrderList .txtBox .rBox .ttl {
		min-height: inherit;
	}
	#main .comOrderList .txtBox .rBox .text {
		line-height: 1.4;
	}
	#main .comOrderList .txtBox .noteTxt {
		margin: 1.5rem 0 0.8rem;
	}
}